<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons class="logout" slot="end">
      <ion-icon class="logout-icon" (click)="logout()"></ion-icon>
    </ion-buttons>
    <ion-title>Countries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" forceOverscroll="false">
  <div class="country">
    <ion-list class="country-list">
      <ion-item class="country-item" *ngFor="let country of countries$ | async">
        <div class="countryinfo">
          <img [src]="'../../../assets/shared/flags/' + country.code.toLocaleLowerCase() + '.png'" class="flag-icon">
          <div class="countryinfo-name">
            {{ country.name }}
          </div>
          <div class="countryinfo-right">
            <div class="countryinfo-code">
              +{{ country.dialCode }}
            </div>
          </div>
        </div>
      </ion-item>
      <ion-item class="country-item">
        <ion-spinner *ngIf="loading" name="lines" class="country-item-spinner"></ion-spinner>
        <ion-button
          *ngIf="!loading"
          fill="outline"
          expand="block"
          size="small" 
          class="country-item-button"
          (click)="loadCountry()"
          [disabled]="!disableLoad"
          >Load more</ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
